.dayInformation {
    margin-top: 60px;
    
    .city {
        font-size: 50px;
        
        img {
            margin-right: 16px;
            margin-bottom: 6px;
            cursor: pointer;
        }
    }
    
    .temperature {
        font-size: 100px;
        font-weight: 600;
        letter-spacing: 0.07em;
        height: 110px;
        cursor: default;
        
        span {
            font-size: 40px;
            letter-spacing: 0.02em;
        }
    }
    
    .resume {
        font-size: 30px;
        margin-right: 10px;
        cursor: default;
    }
    
    .minMax {
        margin-bottom: 100px;
        cursor: default;
        
        span {
            margin: 0 5px;
            
            &.min {
                color: #bfdde8;
            }
        }
    }
}