body.sun, body.cloud {
    background-color: #4a97d2;
}

body.rain {
    background-color: #236187;
}

#parallax {
    top: -600px;
    left: -100px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    
    img {
        width: 1300px;
        will-change: transform;
    }
}

// Sun

.sun_8 img {
  animation: fullRotate linear 40s;
  animation-iteration-count: infinite;
  transform-origin: 37.7% 34.9%;
}

.sun_7 img {
  animation: fullRotate linear 38s;
  animation-iteration-count: infinite;
  transform-origin: 37.7% 34.9%;
}

.sun_6 img {
  animation: fullRotate linear 36s;
  animation-iteration-count: infinite;
  transform-origin: 37.7% 34.9%;
}

.sun_5 img {
  animation: fullRotate linear 34s;
  animation-iteration-count: infinite;
  transform-origin: 37.7% 34.9%;
}

.sun_4 img {
  animation: fullRotate linear 33s;
  animation-iteration-count: infinite;
  transform-origin: 37.7% 34.9%;
}

.sun_3 img {
  animation: fullRotate linear 31s;
  animation-iteration-count: infinite;
  transform-origin: 37.7% 34.9%;
}

.sun_2 img {
  animation: fullRotate linear 29s;
  animation-iteration-count: infinite;
  transform-origin: 37.7% 34.9%;
}

.sun_1 img {
  animation: fullRotate linear 27s;
  animation-iteration-count: infinite;
  transform-origin: 37.7% 34.9%;
}

.sun_9 img {
  animation: fullRotate linear 30s;
  animation-iteration-count: infinite;
  transform-origin: 61.9% 72.3%;
}

.sun_10 img {
  animation: fullRotate linear 21s;
  animation-iteration-count: infinite;
  transform-origin: 68.6% 82.8%;
}

.sun_11 img {
  animation: fullRotate linear 15s;
  animation-iteration-count: infinite;
  transform-origin: 75.3% 93.8%;
}


// Cloud

.cloud_8 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 15s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.cloud_7 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.cloud_6 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 9s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.cloud_5 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 14s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.cloud_4 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 30s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.cloud_3 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.cloud_2 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 15s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.cloud_1 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 13s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}


// Rain

.rain_16 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.31s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_15 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.28s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_14 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_13 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_12 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.35s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_11 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_10 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.22s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_9 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.17s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_8 img {
  animation: fall cubic-bezier(.2, .0, .8, 1) 0.21s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_7 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_6 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 9s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_5 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 14s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_4 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 30s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_3 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_2 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 15s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.rain_1 img {
  animation: littleMove cubic-bezier(.2, .0, .8, 1) 13s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}


@keyframes fullRotate{
  0% {
    transform:  rotate(0deg) ;
  }
  100% {
    transform:  rotate(360deg) ;
  }
}

@keyframes littleMove{
  0% {
    transform:  translate(0px,0px)  ;
  }
  25% {
    transform:  translate(-39px,-35px)  ;
  }
  50% {
    transform:  translate(13px,-64px)  ;
  }
  75% {
    transform:  translate(25px,-21px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@keyframes fall{
  0% {
    opacity:0;
    transform:  translate(0px,0px)  ;
  }
  10% {
    opacity:1;
    transform:  translate(0px,20px)  ;
  }
  100% {
    opacity:0;
    transform:  translate(0px,500px)  ;
  }
}
