DirectoryIndex index.php
Options -Indexes
RewriteEngine on
RewriteBase /github/cleanweather/dist/

ErrorDocument 404 /github/cleanweather/dist/index.php?q=

 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^(.*).php$ ./index.php?q=$1 [L]